/big_outputs/
/reports_and_presentations/
/Papers/
/misc/
/data_from_papers/
/generate_recover/effectsize_0.5/
/simulated_data/parameters_*
/stan_outputs/
stan_outputs/single_prior.txt
stan_outputs/sampling_script.R
stan_outputs/run_all.txt
stan_outputs/metaRL_1lr1s1lapse1bias_gng.exe
stan_outputs/fit_2lr2t_PA_t4.RData
stan_outputs/fit_2lr2t_PA_t3.RData
stan_outputs/fit_2lr2t_PA_t2.RData
stan_outputs/fit_2lr2t_PA_t1.RData
stan_outputs/fit_2lr2t_HC_t4.RData
stan_outputs/fit_2lr2t_HC_t3.RData
stan_outputs/fit_2lr2t_HC_t2.RData
stan_outputs/fit_2lr2t_HC_t1.RData
stan_outputs/fit_2lr2t_ALL_t4.RData
stan_outputs/fit_2lr2t_ALL_t3.RData
stan_outputs/fit_2lr2t_ALL_t2.RData
stan_outputs/fit_2lr2t_ALL_t1.RData
stan_outputs/fit_2lr2s_PA_t4.RData
stan_outputs/fit_2lr2s_PA_t3.RData
stan_outputs/fit_2lr2s_PA_t2.RData
stan_outputs/fit_2lr2s_PA_t1.RData
stan_outputs/fit_2lr2s_HC_t4.RData
stan_outputs/fit_2lr2s_HC_t3.RData
stan_outputs/fit_2lr2s_HC_t2.RData
stan_outputs/fit_2lr2s_HC_t1.RData
stan_outputs/fit_2lr2s_ALL_t4.RData
stan_outputs/fit_2lr2s_ALL_t3.RData
stan_outputs/fit_2lr2s_ALL_t2.RData
stan_outputs/fit_2lr2s_ALL_t1.RData
stan_outputs/fit_2lr2s1lapse_PA_t4.RData
stan_outputs/fit_2lr2s1lapse_PA_t3.RData
stan_outputs/fit_2lr2s1lapse_PA_t2.RData
stan_outputs/fit_2lr2s1lapse_PA_t1.RData
stan_outputs/fit_2lr2s1lapse_HC_t4.RData
stan_outputs/fit_2lr2s1lapse_HC_t3.RData
stan_outputs/fit_2lr2s1lapse_HC_t2.RData
stan_outputs/fit_2lr2s1lapse_HC_t1.RData
stan_outputs/fit_2lr2s1lapse_ALL_t4.RData
stan_outputs/fit_2lr2s1lapse_ALL_t3.RData
stan_outputs/fit_2lr2s1lapse_ALL_t2.RData
stan_outputs/fit_2lr2s1lapse_ALL_t1.RData
stan_outputs/fit_2lr2s1lapse3bias_PA_t4.RData
stan_outputs/fit_2lr2s1lapse3bias_HC_t4.RData
stan_outputs/fit_2lr2s1lapse3bias_ALL_t4.RData
stan_outputs/fit_2lr2s1lapse2bias_PA_t4.RData
stan_outputs/fit_2lr2s1lapse2bias_HC_t4.RData
stan_outputs/fit_2lr2s1lapse2bias_ALL_t4.RData
stan_outputs/fit_2lr2s1lapse1bias_PA_t4.RData
stan_outputs/fit_2lr2s1lapse1bias_HC_t4.RData
stan_outputs/fit_2lr2s1lapse1bias_ALL_t4.RData
stan_outputs/fit_2lr1t_PA_t4.RData
stan_outputs/fit_2lr1t_PA_t3.RData
stan_outputs/fit_2lr1t_PA_t2.RData
stan_outputs/fit_2lr1t_PA_t1.RData
stan_outputs/fit_2lr1t_HC_t4.RData
stan_outputs/fit_2lr1t_HC_t3.RData
stan_outputs/fit_2lr1t_HC_t2.RData
stan_outputs/fit_2lr1t_HC_t1.RData
stan_outputs/fit_2lr1t_ALL_t4.RData
stan_outputs/fit_2lr1t_ALL_t3.RData
stan_outputs/fit_2lr1t_ALL_t2.RData
stan_outputs/fit_2lr1t_ALL_t1.RData
stan_outputs/fit_2lr1s_PA_t4.RData
stan_outputs/fit_2lr1s_PA_t3.RData
stan_outputs/fit_2lr1s_PA_t2.RData
stan_outputs/fit_2lr1s_PA_t1.RData
stan_outputs/fit_2lr1s_HC_t4.RData
stan_outputs/fit_2lr1s_HC_t3.RData
stan_outputs/fit_2lr1s_HC_t2.RData
stan_outputs/fit_2lr1s_HC_t1.RData
stan_outputs/fit_2lr1s_ALL_t4.RData
stan_outputs/fit_2lr1s_ALL_t3.RData
stan_outputs/fit_2lr1s_ALL_t2.RData
stan_outputs/fit_2lr1s_ALL_t1.RData
stan_outputs/fit_2lr1s1lapse_PA_t4.RData
stan_outputs/fit_2lr1s1lapse_PA_t3.RData
stan_outputs/fit_2lr1s1lapse_PA_t2.RData
stan_outputs/fit_2lr1s1lapse_PA_t1.RData
stan_outputs/fit_2lr1s1lapse_HC_t4.RData
stan_outputs/fit_2lr1s1lapse_HC_t3.RData
stan_outputs/fit_2lr1s1lapse_HC_t2.RData
stan_outputs/fit_2lr1s1lapse_HC_t1.RData
stan_outputs/fit_2lr1s1lapse_ALL_t4.RData
stan_outputs/fit_2lr1s1lapse_ALL_t3.RData
stan_outputs/fit_2lr1s1lapse_ALL_t2.RData
stan_outputs/fit_2lr1s1lapse_ALL_t1.RData
stan_outputs/fit_1lr2t_PA_t4.RData
stan_outputs/fit_1lr2t_PA_t3.RData
stan_outputs/fit_1lr2t_PA_t2.RData
stan_outputs/fit_1lr2t_PA_t1.RData
stan_outputs/fit_1lr2t_HC_t4.RData
stan_outputs/fit_1lr2t_HC_t3.RData
stan_outputs/fit_1lr2t_HC_t2.RData
stan_outputs/fit_1lr2t_HC_t1.RData
stan_outputs/fit_1lr2t_ALL_t4.RData
stan_outputs/fit_1lr2t_ALL_t3.RData
stan_outputs/fit_1lr2t_ALL_t2.RData
stan_outputs/fit_1lr2t_ALL_t1.RData
stan_outputs/fit_1lr2s_PA_t4.RData
stan_outputs/fit_1lr2s_PA_t3.RData
stan_outputs/fit_1lr2s_PA_t2.RData
stan_outputs/fit_1lr2s_PA_t1.RData
stan_outputs/fit_1lr2s_HC_t4.RData
stan_outputs/fit_1lr2s_HC_t3.RData
stan_outputs/fit_1lr2s_HC_t2.RData
stan_outputs/fit_1lr2s_HC_t1.RData
stan_outputs/fit_1lr2s_ALL_t4.RData
stan_outputs/fit_1lr2s_ALL_t3.RData
stan_outputs/fit_1lr2s_ALL_t2.RData
stan_outputs/fit_1lr2s_ALL_t1.RData
stan_outputs/fit_1lr2s1lapse_PA_t4.RData
stan_outputs/fit_1lr2s1lapse_PA_t3.RData
stan_outputs/fit_1lr2s1lapse_PA_t2.RData
stan_outputs/fit_1lr2s1lapse_PA_t1.RData
stan_outputs/fit_1lr2s1lapse_HC_t4.RData
stan_outputs/fit_1lr2s1lapse_HC_t3.RData
stan_outputs/fit_1lr2s1lapse_HC_t2.RData
stan_outputs/fit_1lr2s1lapse_HC_t1.RData
stan_outputs/fit_1lr2s1lapse_ALL_t4.RData
stan_outputs/fit_1lr2s1lapse_ALL_t3.RData
stan_outputs/fit_1lr2s1lapse_ALL_t2.RData
stan_outputs/fit_1lr2s1lapse_ALL_t1.RData
stan_outputs/fit_1lr1t_PA_t4.RData
stan_outputs/fit_1lr1t_PA_t3.RData
stan_outputs/fit_1lr1t_PA_t2.RData
stan_outputs/fit_1lr1t_PA_t1.RData
stan_outputs/fit_1lr1t_HC_t4.RData
stan_outputs/fit_1lr1t_HC_t3.RData
stan_outputs/fit_1lr1t_HC_t2.RData
stan_outputs/fit_1lr1t_HC_t1.RData
stan_outputs/fit_1lr1t_ALL_t4.RData
stan_outputs/fit_1lr1t_ALL_t3.RData
stan_outputs/fit_1lr1t_ALL_t2.RData
stan_outputs/fit_1lr1t_ALL_t1.RData
stan_outputs/fit_1lr1s_PA_t4.RData
stan_outputs/fit_1lr1s_PA_t3.RData
stan_outputs/fit_1lr1s_PA_t2.RData
stan_outputs/fit_1lr1s_PA_t1.RData
stan_outputs/fit_1lr1s_HC_t4.RData
stan_outputs/fit_1lr1s_HC_t3.RData
stan_outputs/fit_1lr1s_HC_t2.RData
stan_outputs/fit_1lr1s_HC_t1.RData
stan_outputs/fit_1lr1s_ALL_t4.RData
stan_outputs/fit_1lr1s_ALL_t3.RData
stan_outputs/fit_1lr1s_ALL_t2.RData
stan_outputs/fit_1lr1s_ALL_t1.RData
stan_outputs/fit_1lr1s1lapse_PA_t4.RData
stan_outputs/fit_1lr1s1lapse_PA_t3.RData
stan_outputs/fit_1lr1s1lapse_PA_t2.RData
stan_outputs/fit_1lr1s1lapse_PA_t1.RData
stan_outputs/fit_1lr1s1lapse_HC_t4.RData
stan_outputs/fit_1lr1s1lapse_HC_t3.RData
stan_outputs/fit_1lr1s1lapse_HC_t2.RData
stan_outputs/fit_1lr1s1lapse_HC_t1.RData
stan_outputs/fit_1lr1s1lapse_ALL_t4.RData
stan_outputs/fit_1lr1s1lapse_ALL_t3.RData
stan_outputs/fit_1lr1s1lapse_ALL_t2.RData
stan_outputs/fit_1lr1s1lapse_ALL_t1.RData
stan_outputs/fit_1lr1s1lapse3bias_PA_t4.RData
stan_outputs/fit_1lr1s1lapse3bias_HC_t4.RData
stan_outputs/fit_1lr1s1lapse3bias_ALL_t4.RData
stan_outputs/fit_1lr1s1lapse2bias_PA_t4.RData
stan_outputs/fit_1lr1s1lapse2bias_HC_t4.RData
stan_outputs/fit_1lr1s1lapse2bias_ALL_t4.RData
stan_outputs/fit_1lr1s1lapse1bias_PA_t4.RData
stan_outputs/fit_1lr1s1lapse1bias_HC_t4.RData
stan_outputs/fit_1lr1s1lapse1bias_ALL_t4.RData
stan_outputs/all_models.txt
